* {
  box-sizing: border-box;
}
body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
}
.header h1 {
  font-family: "Cabin Sketch";
  color: #13293d;
  font-weight: 500;
  font-size: 30px;
}
.main-container {
  margin-top: 40px;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

button {
  background-color: #1b98e0;
  color: #e8f1f2;
  border-radius: 4px;
  padding: 10px 15px 10px 15px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  transition-duration: 0.3s;
}

button:hover {
  opacity: 0.8;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #13293d;
  margin-top: 20px;
  width: 700px;
  height: 700px;
}
